html, body {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    color: #121212;
    height: 100%;
}

.swal2-popup {
    /* background-color: #fff0ca;
    color: rgb(49 24 24); */
    padding: 20px 20px 30px 20px;
    /* min-width: 40vw; */
    width: 100%;
    max-width: 460px;
    border-radius: 20px;
}

/* .swal2-popup td {
    background-color: #fff0ca;
    color: rgb(49 24 24);
} */

.swal2-html-container {
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}

.swal2-title {
  /* text-decoration: underline;
  text-underline-offset: 5px;
  margin-bottom: 8px; */
  padding-top: 20px;
  padding-bottom: 10px;
}

/* .swal2-actions {
  margin-top: 30px;
} */

.swal2-confirm {
  background-color: #121212;
  color: #ffffff;
  width: 150px;
  font-weight: bold;
  text-align: center;
  transition:
    background-color 0.25s ease,
    color 0.25s ease,
    /* border-color 0.25s ease, */
    transform 0.15s ease;
    /* box-shadow 0.15s ease; */
  border: 1.5px solid #121212;
  border-radius: 20px;
  padding: 8px 20px;
  /* min-width: 150px; */
  font-size: 16px;
  font-weight: 600;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 5.5em;
  height: 3em;
  text-align: center;
  max-width: 80vw;
  border-radius: 32px;
  line-height: 1.5em;
  cursor: pointer;
}

.swal2-confirm:hover {
  color:  #121212;
  background-color: #ffffff;
}

/* , div:where(.swal2-container) button:where(.swal2-styled):where(.swal2-confirm):hover */
#next-round-btn:hover, #next-round-btn:active {
  color: rgb(49 24 24) !important;
  background-color: #fff0ca !important;
  border: 2px solid rgb(49 24 24) !important;
  /* box-shadow: 0 6px 14px rgb(49 24 24 / 41%) !important; */
}

.completed-star {
  border-radius: 8px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.stats-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.stat {
  /* padding: 2px; */
  margin: 4px;
  width: 65px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 26px;
}

.stat p {
  margin-bottom: 0;
  font-size: .5em;
}

.leaderboard {
  margin-top: 30px;
}

.leaderboard h6 {
  font-weight: bold;
  font-size: 20px;
  text-decoration: underline;
  text-underline-offset: 4px;
  margin-bottom: 16px;
}
