.main-container {
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.puzzle-container {
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 702px;
}

.puzzle-container.empty {
    min-width: 684px;
}

.title {
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: 900;
}

.words-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* height: calc(3 * 8px + 4 * 80px); */
    height: auto;
    grid-auto-rows: 80px;
    gap: 8px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
}

.words-container span {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60px;
    min-width: 160px;
    text-align: center;
    padding: 10px 15px;
    background: #efefe6;
    border-radius: 6px;
    cursor: pointer;
    user-select: none;
    transition: all 0.2s;
}

.words-container span.selected {
    background: #5a594e;
    color: #fff;
}

.completed-group {
    padding: 15px 10px;
    width: 100%;
    height: 85px;
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 25px;
}

.connection-text {
    font-weight: 700;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 100%;
}

.custom-btn {
    border: 1px solid #121212;
    border-radius: 20px;
    padding: 8px 20px;
    /* min-width: 150px; */
    font-size: 16px;
    font-weight: 600;
    width: -moz-fit-content;
    width: fit-content;
    min-width: 5.5em;
    height: 3em;
    text-align: center;
    max-width: 80vw;
    border-radius: 32px;
    line-height: 1.5em;
    cursor: pointer;
}

.shake {
    animation: shake 0.5s;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(-6px);
    }

    40% {
        transform: translateX(6px);
    }

    60% {
        transform: translateX(-6px);
    }

    80% {
        transform: translateX(6px);
    }

    100% {
        transform: translateX(0);
    }
}

@media (max-width: 740px) {
    .words-container {
        gap: 12px;
    }

    .words-container span {
        min-height: 40px;
        min-width: 100px;
        padding: 5px 8px;
        font-size: 0.65rem;
    }

    .custom-btn {
        padding: 6px 12px;
        font-size: 0.7rem;
        min-width: 100px;
    }

    .completed-group {
        padding: 10px 5px;
        font-size: 0.7rem;
        margin-bottom: 10px;
    }

    .info {
        font-size: 0.85rem;
    }

    .puzzle-container.empty {
        min-width: 450px;
    }
}

@media (max-width: 500px) {
    .words-container {
        gap: 8px;
    }

    .words-container span {
        min-height: 30px;
        min-width: 60px;
        padding: 5px 8px;
        font-size: 0.5rem;
    }

    .custom-btn {
        padding: 5px 8px;
        font-size: 0.5rem;
        min-width: 90px;
    }

    .completed-group {
        padding: 8px 4px;
        font-size: 0.5rem;
        margin-bottom: 5px;
    }

    .info {
        font-size: 0.75rem;
    }

    .puzzle-container.empty {
        min-width: 270px;
    }
}
